.ipynb_checkpoints
05_Unsupervised_Learning/UK_foods.csv
04_Tensorflow_Transfer_Learning/__pycache__
04_Tensorflow_Transfer_Learning/.ipynb_checkpoints
03_Tensorflow_Computer_Vision/.ipynb_checkpoints
02_Tensorflow_Classifications/.ipynb_checkpoints
01_Tensorflow_Regressions/.ipynb_checkpoints
saved_models
datasets
tensorboard
checkpoints
